/* ******************** INDEX ******************** */

/* body below keep the Header in all page automacally */
body {
    margin: auto;
}

body {
    background-color: rgb(234, 237, 237);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* ************************************************ */
/* ************************************************ */
/* ********************* INDEX ******************* */
/* ************************************************ */
/* ************************************************ */




/* ******************** HEADER ******************** */

.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 10px;
}

.header__logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}

.header__search {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;

}

.header__searchIcon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;

}

.header__searchInput {
    padding: 5px;
    height: 22px;
    width: 100%;
    border: none;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    color: white;
}

.header__optionLineOne {
    font-size: 10px;

}

.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

/* ************************************************ */
/* ************************************************ */
/* ********************* HEADER ******************* */
/* ************************************************ */
/* ************************************************ */




/* ******************** HOME ******************** */

/* This is responsible for the fade on the Home component */

.home {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
}

.home__row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.home__image {
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}


/* ************************************************ */
/* ************************************************ */
/* ********************** HOME ******************** */
/* ************************************************ */
/* ************************************************ */



/* ******************* PRODUCT ******************** */

.product {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 10px;
    padding: 20px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
    background-color: white;
    z-index: 1;

}

.product>img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product>button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    align-self: center;

}

.product__price {
    margin-top: 5px;
}


.product__info {
    align-self: center;
}

.product__rating {
    display: flex;
    margin-top: -20px;
}

/* ************************************************ */
/* ************************************************ */
/* ********************** PRODUCT ***************** */
/* ************************************************ */
/* ************************************************ */




/* ******************* CHECKOUT ******************** */

.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
}

.checkout__ad {
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title {
    margin-right: 0px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

/* ************************************************ */
/* ************************************************ */
/* ******************** CHECKOUT ****************** */
/* ************************************************ */
/* ************************************************ */


/* **************** CHECKOUT PRODUCT ************** */
.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px;
}

.checkoutProduct__info>button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__rating {
    display: flex;
}

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}


/* ************************************************ */
/* ************************************************ */
/* **************** CHECKOUT PRODUCT ************** */
/* ************************************************ */
/* ************************************************ */


/* ******************* SUBTOTAL ******************** */

.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 100px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.subtotal__gift {
    display: flex;
    align-items: center;
}

.subtotal__gift>input {
    margin-right: 5px;
}

.subtotal>button {
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}

/* ************************************************ */
/* ************************************************ */
/* ******************** SUBTOTAL ****************** */
/* ************************************************ */
/* ************************************************ */